html { min-width: 780px; }

body, div, td, th, h2, h3, h4 { /* redundant rules for bad browsers  */  
    font-family: verdana,sans-serif;
	font-size:    x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: 18px;
	color: #333;
}  
.clearhack { display: inline; } /*Clears Box Model Hack in IE5*/

body {
	background: #EDEBE3;
	color: #333;
	padding: 1em 20px 3em 20px;
	margin: 0;
}

a { color: #06C;  }
a span {display: none;}
a:hover { color: #333; }
a:hover span {display: block;
   position: relative; top: 2px; right: 0px; width: 120px;
   padding: 5px; margin: 10px; z-index: 100;
   color: #FFF; background: #06C; 
   font: 10px Verdana, sans-serif; text-align: center;}
a:active { color: #000; }

p { line-height: 140%; }

h1,h2 {
	font-family: impact, tahoma, verdana, sans-serif;
	font-weight: normal;
	color: #333;
}

h1 {
	font-size: 180%;
	margin: 0;
}

h1 a { text-decoration: none; color: #333; }
h1 a:hover { border-bottom: 1px dotted #666; color: #000; }

h2 {
	font-size: 140%;
	padding-bottom: 2px;
	margin: 0;
}


/* Below styles by Viktor Nova - LCARS-ish theme */


html {
    background-color: #000000;
    color: #8f8f8f;
}

 html body {
    background-color: #000000;
    color: #ffffff;
}

#contents {
    background-color: #00aaff;
}


div.title,h1.title {
    display: inline;
}

div.logo {
    background: url("apple-touch-icon.png");
    background-size: cover;
    width: 44px;
    height: 44px;
    display: inline-block;
    margin-bottom: -10px;
}

div.dncName {
    font-weight: bold;
}

html body h1 {
    color: #00aaff;
}

.note {
    background-color: #000000;
    color: #00aaff;
    border-radius: 20px;
    padding: 0 16px 0 16px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

#main, #contents {
    border-radius: 0 10px 10px 10px;
}

.loginButton {
	border: none;
	background: #00aaff;
	padding-bottom: 6px;
	border-radius: 10px;
	color: #000000;
	float: right;
	width: 8em;
	display: block;
	padding: 4px 0;
	margin: -35px 2px 0 0;
	text-align: center;
	font-family: impact, tahoma, verdana, sans-serif;
	text-decoration: none;	
}
